@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    margin: 0px;
    nav{
        width: 1200px!important;
        margin: 0px auto;
        ul{
            justify-content: center;
            li{
                margin-left: 15px;
                list-style: none;
                text-transform: uppercase;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

.jumbo-section{
    width: 100%;
    height: 400px;
    background-image: url('../../public/images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.comics-container{
    background-color: black;
    padding: 50px 0px; 
    width: 100%;
    .comics-section{
        min-height: 500px;
        width: 1200px;
        margin: 0 auto;
        flex-wrap: wrap;
        .comic-card{
            width: calc(100%/6);
            height: 300px;
            
            .card-img-box{
                width: 150px;
                height: 200px;
                margin: 0 auto;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text-box{
                color: white;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
        button {
            margin: 20px auto 30px;
            width: 180px;
            height: 30px;
            background-color: #0282F9;
            color: white;
            font-weight: 500;
            border: none;
            cursor: pointer;
        }
}

.icon-container{

    background-color: #0282F9;
    .icon-section {
            width: 1200px;
            margin: auto;
            height: 200px;
    
            .icon-card {
                display: flex;
    
                .icon-img {
                    width: 65px;
                    height: 80px;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
            .icon-text{
                color: white ;
                display: flex;
                align-items: center;
                margin:0px 20px;
            }
        }
}

.footer-top{
    height: 400px;
    background-image: url('images/footer-bg.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .footer-content{
        width: 1200px;
        margin: 0 auto;
        ul{
            padding: 0px;
            li:first-child{
                list-style: none;
                color: white;
                font-size: 1rem;
            }
            a{
                color:gray;
                text-decoration: none;
            }
        }
        
    }
    .dc-icon{
        overflow: hidden;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 150%;
        }
    }
}
.footer-bottom{
    height: 150px;
    background-color: #303030;
    .button-social-section{
        display: flex;
        align-items: center;
        justify-content:space-between;
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        button {
                width: 170px;
                height: 50px;
                border: 3px solid #0282F9;
                background-color: #303030;
                color: white;
                font-size: large;
                cursor: pointer;
            }
    }
    li{
        list-style: none;
        margin-right: 15px;
    }
    li:first-child{
        color: #0282F9;
    }
}
.error-image{
    width: 100%;
    img{
        width: 100%;
    }
}