@import "~bootstrap/scss/bootstrap";

header{
    height: 150px;
    align-items: center;
    ul{
        justify-content: center;
        li{
            margin-left: 15px;
            list-style: none;
            text-transform: uppercase;
            text-align: center;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}

.jumbo-section{
    height: 400px;
    background-image: url('../../public/images/jumbotron.jpg');
}